body {
    background-color: #7d7df4;
}

.outer-box{
    width:  auto;
    height: 475px;
    background-color: aliceblue;
    border: 5px solid #fd23ca;
    border-radius: 25px;
    margin: 20px 30px;
}

.inner-box-1{
    width: 100px;
    height: 100px;
    background-color: palegreen;
    border-radius: 8px;
    margin: 20px auto;
}

.inner-box-2{
    width: 150px;
    height: 200px;
    background-color: #d998fb;
    border-radius: 8px;
    margin: 20px;
}

.inner-box-3{
    width: 150px;
    height: 60px;
    background-color: #fd7a7a;
    border-radius: 8px;
    margin: 30px auto;
}

.loner-box{
    width: 150px;
    height: 200px;
    background-color: #c0fffa;
    border-radius: 10px;
    margin: 30px;
}