body {
    margin: 0;
    font-family: serif;
    color: #000000;
}

h1, h2 {
    font-weight: 400;
    letter-spacing: 1px;
    color: #1a2a43;
}

p {
    font-size: 17px;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 70px;
    border-bottom: 4px solid #1a2a43;
}

.logo img {
    height: 45px;
}

nav a {
    margin-left: 40px;
    text-decoration: none;
    color: #1a2a43;
    font-size: 17px;
    letter-spacing: 0.5px;
}


.hero {
    background-image: url("images/banner-img.jpg");
    background-size: cover;
    background-position: center;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 25px;
}

.hero .btn {
    background: #1a2a43;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    border: 1px solid white;
}


.welcome {
    text-align: center;
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

.welcome h2 {
    font-size: 36px;
}

.center-buttons a {
    border: 2px solid #1a2a43;
    color: #1a2a43;
    padding: 10px 32px;
    margin: 0 20px;
    text-decoration: none;
}

.divider {
    width: 85%;
    margin: 60px auto;
    border-top: 1px solid #b5b5b5;
}

.feature {
    display: flex;
    gap: 60px;
    padding: 60px 10%;
}

.feature img {
    width: 48%;
}

.feature h2 {
    font-size: 30px;
}

.reverse {
    flex-direction: row-reverse;
}

footer {
    background: #f2f2f2;
    padding: 70px 10%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.payment img {
    height: 28px;
    margin-left: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 35px;
    font-size: 14px;
}
